*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
 max-width: 500px;
  padding: 8% 0 ;
  margin:auto; 
  background-color: #fffdfd;
}

/*ESTILOS PARA EL LOGIN*/

.contained {
  flex-grow: 1;
  max-width: 100%;
  margin: 0 ;
 display: inline;
  padding: 2px; 
  justify-content: center;  
   
    
}


.contained > input {

  font-family: "Roboto", sans-serif;
  outline: 0;
  /* background: #ede3f1; */
  width: 90%;
  border: none;
  border-bottom: 1px solid #ede3f1;
  margin:  15px 0;
  padding: 20px;
  font-size: 18px;
}
.conteined-checkbox{
  max-width: 300px;
  display:flex;
  justify-content: left;
 position: relative;


}
.conteined-checkbox > input{
   align-items: left;
  padding: 500px;
  
}
.container{
  margin: 12px;
  padding:10px
}
.login-form >h5{
  
  justify-content: right;
  display: flex;
  padding-right: 50px;
  padding-top: 0;
}
.login-form >h5 >a {
  font-size: 12px;
}
.login-form .submit {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #d1a4eccc;
  width: 80%;
  border: 0;
  padding: 20px;
  margin: 20px 20px 0 20px ;
  color:#8d8b8b;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.login-form button:hover,.login-form button:active,.login-form button:focus {
  background: #c6abcc;
  color: #ede3f1;
}

