*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
a{
  text-decoration: none;
}
h1{
  color: #603485;
  font-size: 20px;
}

/* input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    flex-grow:1;
    padding: 0;
    } */
input[type=number] {
   -moz-appearance:textfield;
width: 30px;
margin-left: .5rem;
border-color:black ;
border: none !important;
background-color: transparent;
}
::placeholder {
  color: rgb(0, 0, 0);
  font-size: 1em;

 }

/* .cantidad >datalist{
  border-color: none ;
border: none !important;
text-align: center;
align-items: center;
justify-content: center; }*/


.action {
    margin-top: 1rem;
    display: inline;
  }

.root {
    max-width: 500px;
    background-color: #ffffff;
    border-radius: 5px;
  }
 .cantidad {
   border-radius: 40px;
   padding: .1rem;
   display: inline-flex;
   margin: 0;
   justify-content: center; 
   width: 100px;
   font-size: 12px;
   border: #000000 solid 1px !important;
   background-color: #a08ab37a;
 
 }

  .CardActions{
  padding:auto;
  }  

  .CardActions > p{  
  display: inline;
/* float:left;    */
text-align:center;
align-items: center;
/* border:1px solid rgb(43, 192, 68);  */
justify-content: center;
}

.cardHeader >h1{
  padding-left: 0;
  padding-right: 5px;
  text-align: center;
  
    
}
.cardHeader> button{
  float: right;
  padding:10px;
  align-items: center;
  justify-content:right;
  text-align: right;
  border: none;
  background: none;
}

 
.cardMedia >img{
  max-width:100% ;

}
.add-basket {
  flex-grow: 1;
  font-size:25px;
  text-align:center;
  padding: 5px;
  color: #6a3b91;
  cursor: pointer;
}   
.delete{
  padding:0 10px;
  background-color: #eee1f8;
  font:1em sans-serif ;

  border-radius: 4px;
}
.delete>i{
  color: #232125;
  padding-left: 5px;
}
.remove{
  padding: 10px;
}
.remove:hover{
  color: #8d789e;
}
.grid-responsive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}