.cart-header{
  border-bottom: thin rgba(0, 0, 0, 0.144) solid ;
}
.cart-list{
  display: grid;
  grid-template-columns: 70% 1fr !important;
  gap: 1rem;
  list-style: none;
  margin-bottom: 2rem; 
}

.cart-list-container{
  list-style: none;
  margin:0 1rem;
  background-color: white;
  padding: 3rem;

}

 .cart-header, .cart-card {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  margin: 2rem 0;
  border-bottom: rgba(0, 0, 0, 0.336) solid 1px;
 
  
}
.card-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content button{
  background-color: #230A3D;
  color: #ffffff;
   padding: 1rem 1.5rem;
    border-radius: 5px;
  border: thin black;
  
}
.check-card{
    display: flex;

}
.check-card> img{
max-width:20rem;
margin: .5rem;
}
 .check-card-content{
    width:50%;
    text-align: justify;
  
}
.paper{
     margin: auto;
    position: relative;
    padding: 1rem!important;
    width: 90%;
   
   
}
.price{
  display:flex;
  text-align: right;
  flex-direction: column;
  justify-content:space-between;
  max-width: 40%;
  
}

.total-card {
  list-style: none;
    margin:0;
    max-height: 25rem;
    padding: 10px;
    border-radius:5px;
    background-color: #ffffff;
 
  };
.total-card >h2{
  margin-bottom: 5px;
  border-bottom: rgba(117, 115, 115, 0.062) solid 1px;
  
}
.total-card h3{
  font-weight: 500;
  margin-top: .5rem;
}
.button-check {
    margin: 2rem;
    padding:1rem;
    background-color: orange;
    border:none;
    border-radius:5px;
    width: 15em;

   }
   .total-items{
     margin: 1rem;
     border-top:rgba(0, 0, 0, 0.26) solid 1px !important;
     background-color:rgb(255, 255, 255)  !important; 
     }



     /*------------------------------------------------*/
/* Medium devices (tablets, 576px)*/
/*---------------------------------------------------*/
 @media (max-width: 576px) {
.cart-list{
  display:flex;
  flex-direction: column;
  
   
}
.cart-list-container{
  
  margin:0 .2rem;
  padding: .5rem;

}
.paper{
    
    padding: .5rem!important;
   
   
}
.card-content button{
 
   padding: .5rem 1rem;
    border-radius: 5px;
  border: thin black;
  
}
.check-card> img{
max-width:10rem;
margin: .5rem;
}
.cart-card {
  display: flex;
 flex-direction: column;
  
}
 }
