*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
  flex-grow: 1;
  padding: 1rem;
  margin:0 0 1rem 0;
  background-color: #ffffff;
  box-shadow: 0 0 1rem #00000025 inset;
  width:100%;
 box-sizing: border-box;
  margin: 2px;
  
}

.check-card{
    display: flex;

}

.check-card> img{
max-width:200px;
margin: .5rem;
}
 .check-card-content{
    width:60%;
    margin:.5rem;
  
  text-align: justify;
  
}
.check-container{
   
  display: grid;
  grid-template-columns: 70% 1fr !important;
  gap: 1rem;

}

.check-total{
   box-shadow: 0 0 1rem #00000025 inset;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}
.item{
    margin: 10px;
    
    margin:0  0 .5rem 0;
}
.price{
    
    position: relative;
    justify-content: right;
    max-width: 20%;
  
}
.card-total{
  padding: 0;
  margin: 0;
  box-shadow:  0 0 1rem #00000025 inset!important;

}
.quantity >button{
 margin:5px;
 padding: 2px;
 background-color: rgba(150, 128, 209, 0.534);
 border-radius: 5px;
}

 @media screen and (max-width: 600px) {
  .check-container{
    display: inline-block;
    font-size: .8rem;
  }
  .check-card> img{
  max-width:100px;
  max-height: 100px;
  }
}