 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    
 

}/*  PERFIL Y/O admin */
.dropdown {
    display: block;
    position: relative;
  }
  .dropdown-content {
    position:absolute;
    display: none;
    right: 0;
    padding: 1rem;
    list-style-type: none;
    z-index: 1;
    background-color: #ffffff;
    color:black !important; 
    margin: 0;
    margin-top: 0.4rem;
   
  }
  .dropdown:hover .dropdown-content {
    display:block;
     top: 2rem !important;

  
  }
  
  .dropdown-content ul li{
    margin: 8rem;
  }
.dropdown svg{
  margin-left: .4rem;
}
.dropdown-content a {
 margin: 1rem;
  border:none;
  padding: 2px 20px;
  color:black !important; 
} 
  /*BARRA DE NAVEGACIÓN*/
 .navbar{
    width: 100%;
    height: 38px;
    display: flex;
   justify-content:space-between;  
  
}
.navbar h4{

  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-weight: 200;
 font-size: 1.5rem;
 line-height: 1.4em;
}

.navbar-items{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem;
 
  }

.navbar-items form {
  display: flex;
  padding: 0;
  margin: 1rem;
  border: 0.1rem #6e6e6e7e solid;
  border-radius: 0.5rem;
  align-items: center;
}
.navbar-items input, .navbar-items button {
  padding: 1rem;
  font-size: 1.6rem;
  color: inherit;
  border: inherit;
  border-color: none;
  background-color: inherit;
}
.navbar-items button {
  background-color: rgba(129, 129, 129, 0.377);
}
input:focus {
  border:none;      
  outline: none;
  background-color: white;
  color: black;  
 }

.header-links , .menu{
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
  width: 18%;
 
}
.menu{
  font-size: 2rem;
}
.header-links a {
 color: #ffffff;
  text-decoration: none;
  margin-right: 1rem;
  padding: .5rem 1rem;
  border-radius: 5px;
  display:flex;
    
}

.header-links a:hover , .header-links button:hover {
  color: rgba(129, 129, 129, 0.377);
}

.menu{
    margin-left: 3rem;
    width:10rem;
}

/*----------------------------------------------------------*/
/*ASIDE MENU DE CATEGORIAS */
.sidebar{
  position: absolute;
  top: 0;
  width: 25rem;
  height:calc(100% - 5rem);
  background-color: #ffffff;
  z-index: 1000;
  transform: translateX(-50rem);
  transition: all 0.5s;
  text-align: left;
  border-right: solid 1px #18003133;
  
 
}
.sidebar .header{
  display: flex;
  justify-content: space-between;

  margin-top: 0rem;
  padding: 1rem ;
  background-color: #230A3D;
  
}
.sidebar .home{
 margin-right:4em;
}

.sidebar h3{
  padding-left: 3rem;
  margin: 1rem 1rem;
  padding-bottom: 1.5rem;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  border-bottom: rgba(0, 0, 0, 0.13) solid 1px;
}

.sidebar .categories{
  font-size: 1.5rem;
  list-style: none;
  padding-left: 2rem;
  
}
  
.sidebar .categories li{
  margin: 2rem 1rem;
  padding-bottom: 1rem;
    border-bottom: solid 1px rgba(0, 0, 0, 0.315);
}

.sidebar .categories a{
  text-decoration: none;
color: rgb(0, 0, 0);
}
.sidebar.open {
  transform: translateX(-3rem);
  
}

 
.sidebar .sidebar-close-button {
  border: none;
   height: 3rem;
   font-size: 3rem;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding-left: 3rem;
}
/*----------------------------------------------------------*/
  @media screen and (max-width: 800px) {
      .item-search .buttonSearch{
          width: 18%;
      }
    
   .item-search input{
       margin: .1rem !important;
      
        
    }
    .button-login{
        height: 2rem;

    }
    .navbar h4{
    display: none;
  
   
}

} 
 @media screen and (max-height: 400px) {
   .sidebar{
     height:calc(100% - .5rem) 
   } 
 } 


