*{
    margin: 0;
    padding: 0;
    box-sizing: border-box  !important;
   

} 
/* NAVBAR FILTER*/
.filter{
  background-color:#230a3dec !important;
  color: white;
  
}
 .filter select{
   margin: .2rem;
      text-decoration: none;
     margin-right: 1rem;
       padding: .2rem .5rem;
    border-radius: 5px;
    
 }
/*HOMESCREEN PRODUCTS*/
.container{
   max-width: 95%;
    margin: auto;
    align-items: center;
    justify-content: center;
    
}
.grid-responsive {
  display: flex;
  align-items: center;
  flex-wrap: wrap; 
  align-content: center !important;
}

.grid-responsive li {
  list-style-type: none;
  flex:0 1 12rem ;
  padding: 0;
  margin: .7rem;
  height: 30rem;
   font-size: 1.5rem;
  
}
/*CARD PRODUCTS SCREEN*/

.grid-responsive a{
  text-decoration: none;
  color: inherit;
}

.card-product {
    width: 20rem;
    display: grid;
    grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 15% 1fr 10%;
  height: 100%;
    background-color: rgba(206, 206, 206, 0.171) ;
    border:  rgba(206, 206, 206, 0.171) solid 1px;
    margin-right:2rem;
    }
 
  .card-product a:hover{
    color:#44157ae3 ;
    
  }
.card-header{
  grid-area: header;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
   font-family:'Times New Roman', Times, serif;
  font-size: 2.2rem;
  font-weight: 900;
  color: #230A3D;
 
}

.card-header> button{
    border: none;
  background: none;
  color: rgba(0, 0, 0, 0.295) !important;
}

 .product-image{
  max-width:100% !important ;
  display:inline;

}
.card-product .card-content{
 grid-area: footer;
  background-color: rgb(255, 217, 2) !important;
  font-family: 'Times New Roman', Times, serif;
  padding: .4rem;
  font-size: 2rem;
}

.card-media{
  font-style: oblique;
}
.product-rating{
  margin: .5rem 0;
}