*{
    margin: 0;
    padding: 0;
    box-sizing: border-box  !important;

} 
/* NAVBAR FILTER*/
.filter{
  background-color:#230a3dec !important;
  color: white;
  
}
 .filter select{
   margin: .2rem;
      text-decoration: none;
     margin-right: 1rem;
       padding: .2rem .5rem;
    border-radius: 5px;
    
 }
/*HOMESCREEN PRODUCTS*/
.container{
   max-width: 95%;
    margin: 2rem;
    align-items: center;
    justify-content: center;
}
.grid-responsive {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.grid-responsive li {
  list-style-type: none;
  flex:0 1 12rem ;
  padding: 0;
  margin: .7rem;
  height: 30rem;
   font-size: 1.5rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
/*CARD PRODUCTS SCREEN*/

.grid-responsive a{
  text-decoration: none;
  color: inherit;
}

input[type=number] {
   -moz-appearance:textfield;
width: 30px;
margin-left: .5rem;
border-color:black ;
border: none !important;
background-color: transparent;
}
::placeholder {
  color: rgb(0, 0, 0);
  font-size: 1em;
 }


.card-product {
    width: 210px;
    background-color: rgba(206, 206, 206, 0.171) ;
    border:  rgba(206, 206, 206, 0.171) solid 1px;
    margin: 0;
    justify-content: center;
    height: 100%;
  }
 
  
.cardHeader{
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
 

}

.cardHeader> button{
    border: none;
  background: none;
  color: rgba(0, 0, 0, 0.295) !important;
}

 .product-image{
  max-width:100% !important ;
  display:inline;

}

