
/* NAVBAR FILTER*/
.filter{
  list-style: none;
  background-color:#230a3dec !important;
  color: white;
  
}
 .filter select{
   margin: .2rem;
    text-decoration: none;
     margin-right: 1rem;
       padding: .2rem .5rem;
    border-radius: 5px;
    
 }
/*HOMESCREEN PRODUCTS*/
 .products a{
  text-decoration: none;
  color: inherit;
}
.products{
 display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 18rem;
  margin: 1.5rem;
  height: 25rem;
}
/*CARD PRODUCTS SCREEN*/


.card-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
    background-color: rgb(250, 250, 250) ;
  border:  rgba(206, 206, 206, 0.171) solid 1px;
   
    }
 
  .card-product a:hover{
    color:#44157ae3 ;
    
  }
.card-header{
  margin: 1rem;
  display: flex;
  justify-content: space-between;
   font-family:'Times New Roman', Times, serif;
   font-weight: 900;
  color: #230A3D;
 
}

.card-header> button{
    border: none;
  background: none;
  color: rgba(0, 0, 0, 0.295) !important;
}

 .product-image{
  max-width:100% !important ;
  display:inline;

}
.card-product .card-content{
 /* grid-area: footer; */
  background-color: rgb(255, 217, 2) !important;
  font-family: 'Times New Roman', Times, serif;
  padding: .4rem;
}

.card-media{
  font-style: oblique;
}
.product-rating{
  margin: .5rem 0;
}
