
.icon-heart-empty:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-star-empty:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-trash-empty:before { content: '\e805'; } /* '' */
.icon-camera:before { content: '\e806'; } /* '' */
.icon-picture:before { content: '\e807'; } /* '' */
.icon-users:before { content: '\e809'; } /* '' */
.icon-plus-circled:before { content: '\e80a'; } /* '' */
.icon-plus:before { content: '\e80b'; } /* '' */
.icon-menu-2:before { content: '\e80c'; } /* '' */
.icon-cancel-circled2:before { content: '\e80d'; } /* '' */
.icon-cancel:before { content: '\e80e'; } /* '' */
.icon-ok:before { content: '\e810'; } /* '' */
.icon-cog:before { content: '\e815'; } /* '' */
.icon-basket:before { content: '\e816'; } /* '' */
.icon-login:before { content: '\e817'; } /* '' */
.icon-right-open:before { content: '\e818'; } /* '' */
.icon-left-open:before { content: '\e819'; } /* '' */
.icon-left-big:before { content: '\e81a'; } /* '' */
.icon-right-big:before { content: '\e81b'; } /* '' */
.icon-up-open:before { content: '\e81c'; } /* '' */
.icon-align-justify:before { content: '\e81d'; } /* '' */
.icon-mail:before { content: '\e81e'; } /* '' */
.icon-calendar:before { content: '\e81f'; } /* '' */
.icon-upload:before { content: '\e820'; } /* '' */
.icon-forward:before { content: '\e821'; } /* '' */
.icon-attach:before { content: '\e822'; } /* '' */
.icon-down-open:before { content: '\e823'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-menu-3:before { content: '\f008'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-envelope-open:before { content: '\f2b6'; } /* '' */
.icon-envelope-open-o:before { content: '\f2b7'; } /* '' */
