*{
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}


body{
  background-color: rgb(241, 246, 250);
  max-width: 100vw;
    
}


i{
 
  margin: .2rem .5rem;
}

.App {
  text-align: center;

}

 .grid-container {
   
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.App-header{
  grid-area: header;
 background-color: #1c0036;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   color: white;

}

.App-main {
  grid-area: main;
  margin-top: 0.1rem;
  height: inherit;
}
.canva-off-fondo.open{
  position: absolute;
  background-color: rgba(128, 128, 128, 0.555);
  width: 100vw;
  height: 100vh;
   overflow:hidden;
 
}
.grid-container.open{
  height: 100vh;
  overflow:hidden;
}

.footer {
  grid-area: footer;
  height: inherit;
  background-color: #203040;
  color: #ffffff;
  justify-content: center;
  align-items: center;

}




/*PRODUCTS LIST*/
.product-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-margined {
  margin: 2rem;
}

.table {
  width: 100%;
  margin: 1rem;
  
}
th {
  text-align: left;
}
tbody > tr:nth-child(odd) {
  background-color: #f0f0f0;
}
/* Rating */
.rating span {
  color: #ffb901;
 
  margin: 0.1rem;
}
.rating span:last-child {
  color: #444444;
 
}
a > .rating > span:last-child {
  color: #0000ff;
}
 @media (max-width: 576px) {
   .App-header{
     padding-top: .5rem;
     justify-content:flex-start ;
     align-items:center ;
   }
 }